### Miscellaneous
.DS_Store
Thumbs.db

### Vagrant
/.vagrant
/.ddev/
.lando.local.yml

### Composer
/vendor/

### IDE
/.idea

### PHPCS
cs_fixer*
.php_cs.cache

### NodeJS
node_modules/

### WordPress
/htdocs/cms/
/htdocs/content/languages/
/htdocs/content/uploads/
/htdocs/content/upgrade/
/htdocs/wp-config-ddev.php
/htdocs/.htaccess

### Environment Credentials
.env